@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row-reverse;
}

/* Right side of screen - sign up form */
.main {
    display: flex;
    flex-direction: column;
    width: 66.6%;
    --main-bg-color: rgb(248, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.information,
.button {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-height: 35vh;
    padding: 20px 40px;
}

.information {
    justify-content: flex-end;
}

.main p:not(#question) {
    max-inline-size: 55ch;
    font-size: calc(11px + 1vw);
    font-weight: bold;
}

.information p:last-of-type {
    padding: 40px 0;
}

.input_fields {
    background-color: white;
    min-height: 30vh;
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 5px;
    box-shadow: 0px 8px 4px -4px rgba(16, 15, 15, 0.2);
}


/* Inherit to be consistent */
button,
input {
    font-family: inherit;
    font-family: 100%;
}

input {
    width: 340px;
    height: 40px;
    padding: 3px 6px;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background-color: rgb(250, 246, 246); 
}

/* Focus style for inputfields */
input:focus {
    outline: 1px solid rgb(53, 95, 245);
    box-shadow: 5px 8px 4px -4px rgb(128 128 128 /0.5);
}

input:invalid {
    outline: 1px solid red;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 90%;
    gap: 20px 80px;
    margin: 30px 0;
}

form label {
    display: block;
    margin-bottom: 2px;
    color: rgb(81, 81, 81);
    font-size: small;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

button {
    background-color: #596D48;
    color: white;
    width: fit-content;
    border-style: none;
    border-radius: 6px;
    padding: 20px 60px;
    font-size: large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 5px 8px 4px -4px rgb(128 128 128 /0.5);
}

button:hover,
button:focus {
    background: rgb(89 109 72/0.9);
}

.button a {
   text-decoration: none;
   color: #596D48;
   font-weight: bold;
}



/* Left side of screen with image background */
.image_sidebar {
    display: flex;
    flex-direction: column;
    background: no-repeat center/100% 100% url(leaves.jpg);
    width: 33.3%;
    min-height: 100vh;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(27 27 27 /0.5);
    margin-top: 200px;
    width: 100%;
    height: 16%;
}

.logo-wrapper img {
    width: 15%;
    height: auto;
    margin-right: 5px;  
}

.logo-wrapper h1{
    font-family: "norsebold", Arial, Helvetica, sans-serif;
    font-size: calc(50px + 3vw);
    color: white;
}

.image_sidebar p {
    color: white;
    margin-top: auto;
    padding: 5px;
} 

.image_sidebar p > a {
   color: white;
}