@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row-reverse;
}

/* Right side of screen - sign up form */
.main {
    display: flex;
    flex-direction: column;
    width: 66.6%;
    --main-bg-color: rgb(248, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.information,
.button {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-height: 35vh;
    padding: 20px 40px;
}

.information {
    justify-content: flex-end;
}

.main p:not(#question) {
    max-inline-size: 55ch;
    font-size: calc(11px + 1vw);
    font-weight: bold;
}

.information p:last-of-type {
    padding: 40px 0;
}

.input_fields {
    background-color: white;
    min-height: 30vh;
    padding: 20px 40px;
    margin-bottom: 5px;
    box-shadow: 0 8px 8px -4px rgba(16, 15, 15, 0.2);
}

ul {
    list-style: none;
}

button {
    background-color: #596D48;
    color: white;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 5px 8px 4px -4px rgb(128 128 128 /0.5);
}

.button a {
   text-decoration: none;
   color: #596D48;
   font-weight: bold;
}



/* Left side of screen with image background */
.image_sidebar {
    display: flex;
    flex-direction: column;
    background: no-repeat center/100% 100% url(leaves.jpg);
    width: 33.3%;
    min-height: 100vh;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(27 27 27 /0.5);
    margin-top: 200px;
    width: 100%;
    height: 16%;
}

.logo-wrapper img {
    width: 15%;
    height: auto;
    margin-right: 5px;  
}

.logo-wrapper h1{
    font-family: "norsebold", Arial, Helvetica, sans-serif;
    font-size: calc(50px + 3vw);
    color: white;
}

.image_sidebar p {
    color: white;
    margin-top: auto;
    padding: 5px;
} 

.image_sidebar p > a {
   color: white;
}